*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.shoppingbasket{
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}
ul li{
    list-style-type: none;
}
